<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>24 Hours of LeMans Winners</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1 style="color: #f5f5f5; ; text-shadow: 0 0 10px #000000">LeMans 24 Hours Race Winners</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/display/NEW ZEALAND">NZ Winners</a>
            </li>
            <li>
                <a href="/display/BRITAIN">British Winners</a>
            </li>
            <li>
                <a href="/display_full">All data</a>
            </li>
            <li>
                <form method="post" action="/search">
                    <label for="searchbox">Search The Database: </label>
                    <input type="text" name="Search" id="searchbox">
                    <input type="submit" value="Search!">
                </form>
            </li>
        </ul>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>