<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/display/NEW ZEALAND">NZ Winners</a>
            </li>
            <li>
                <a href="/display/BRITAIN">British Winners</a>
            </li>
            <li>
                <form method="post" action="/search">
                    <label for="searchbox">Search The Database: </label>
                    <input type="text" name="Search" id="searchbox">
                    <input type="submit" value="Search!">
                </form>
            </li>
        </ul>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; D Benseman 2022</p>
    </footer>
</body>
</html>