{% extends "base.html" %}
{% block main %}
        <h2>Before 2000's</h2>
        <table>
            <tr>
                <th>Attribute</th>
                <th>values</th>
            </tr>
            <tr>
                <td>color</td>
                <td>the colour of the text.
                This can be hexadecimal (#000000 for black, #ffffff for white, #00ffff for yellow etc) or one of the preset colours(black, red, ...)</td>
            </tr>
            <tr>
                <td>background-color</td>
                <td>The colour of the background.Same colours as <em>color</em></td>
            </tr>
            <tr>
                <td>margin</td>
                <td>How much gap there is around the border to the other elementsUsually expressed in pixels. You can specify top, right, bottom and left in the one expression</td>
            </tr>
            <tr>
                <td>border</td>
                <td>The size, colour and type of border around the elementeg <em>2px solid #ffffff</em></td>
            </tr>
            <tr>
                <td>padding</td>
                <td>the amount of space between the border and the elementUsually expressed in pixels (eg 3px)</td>
            </tr>
            <tr>
                <td>font-family</td>
                <td></td>
            </tr>
            <tr>
                <td>font-weight</td>
                <td></td>
            </tr>
            <tr>
                <td>font-size</td>
                <td></td>
            </tr>
            <tr>
                <td>display</td>
                <td></td>
            </tr>
            <tr>
                <td>grid-template-columns</td>
                <td></td>
            </tr>
            <tr>
                <td>grid-column</td>
                <td></td>
            </tr>
        </table>
{% endblock %}